<form class="row g-3">
    <h4>Device details</h4>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Device Name</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">MAC address</label>
    <input type="text" class="form-control" id="inputAddress" >
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Make</label>
    <select class="form-select" aria-label="Default select example">
        <option value="1">Make One</option>
        <option value="2">Make Two</option>
        <option value="3">Make Three</option>
      </select>
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Model</label>
    <select class="form-select" aria-label="Default select example">
        <option value="1">Model One</option>
        <option value="2">Model Two</option>
        <option value="3">Model Three</option>
      </select>
  </div>
  <div class="alert alert-primary" role="alert">
    Device is Interactive 
  </div>
  <div class="alert alert-danger" role="alert">
    liveness  turned off!
  </div>
  <h4>Location</h4>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Latitude</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Longitude</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-12">
    <button type="button" class="btn btn-outline-secondary">Get from Map</button>
    
</div>
<div class="col-12">
    <button type="submit" class="btn btn-primary">Add device</button>
  </div>
</form>


