<form class="row g-3">
    <h4>Contact details</h4>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Merchant name</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <input type="text" class="form-control" id="inputAddress" >
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Postal address</label>
    <input type="text" class="form-control" id="inputAddress2" >
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Phone no.</label>
    <input type="number" class="form-control" id="inputCity">
  </div>
  <div class="col-md-6">
    <label for="inputZip" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputZip">
  </div>
  <h4>Contact person</h4>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Title</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">First Name</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Phone no.</label>
    <input type="number" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <h4>Location</h4>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Latitude</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Longitude</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-12">
    <button type="button" class="btn btn-outline-secondary">Get from Map</button>
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Name to show on map</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Show location on map
      </label>
    </div>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Share location with all device
      </label>
    </div>
  </div>
  <h4>Social</h4>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Website</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <h4>Gateway</h4>
  <div class="col-md-6">
  <button type="button" class="btn btn-outline-secondary">Add</button>
</div>
<div class="col-12">
    <button type="submit" class="btn btn-primary">Create merchant</button>
  </div>
</form>


